<br>
<div class="container">
  <div class="col-md-6 order-md-1">
    <h4 class="mb-3">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Modificar datos</font>
      </font>
    </h4>

    <div class="alert alert-success" *ngIf="status == 'succes'">
      <strong>se ha modificado correctamente el registro</strong>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
      <strong>Ha ocurrido un error al modficar los datos, por favor verifique e intente nuevamente </strong>
    </div>

    <form class="needs-validation" novalidate="" #registroForm="ngForm" (ngSubmit)="ModificarUsuario();">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="Nombre">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Nombre(s)</font>
            </font>
          </label>
          <input type="text" class="form-control" id="Nombre" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.name" placeholder=""
            value="" required="">
          <span class="text-danger" *ngIf="!contrasenia.valid && contrasenia.touched">
            <strong>debe ingresar un nombre valido</strong>
          </span>
        </div>
        <div class="col-md-6 mb-3">
          <label for="apellido">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Apellido(s)</font>
            </font>
          </label>
          <input type="text" class="form-control" id="apellido" name="apellido" #apellido="ngModel" [(ngModel)]="usuario.surname" placeholder=""
            value="" required="">
          <span class="text-danger" *ngIf="!contrasenia.valid && contrasenia.touched">
            <strong>debe ingresar un apellido valido</strong>
          </span>
        </div>
      </div>
      <div class="mb-3">
        <label for="correo">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Correo electrónico </font>
          </font>
        </label>
        <input type="email" class="form-control" id="correo" name="correo" #correo="ngModel" [(ngModel)]="usuario.email" placeholder="you@example.com" readonly="readonly">
        <span class="text-danger" *ngIf="!contrasenia.valid && contrasenia.touched">
          <strong>debe ingresar un correo valido</strong>
        </span>
      </div>
      <div class="mb-3">
        <label for="contrasenia">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Contraseña <span class="text-danger">(para modificar debe ingresar la contraseña)</span></font>
          </font>
        </label>
        <input type="password" class="form-control" id="contrasenia" name="contrasenia" #contrasenia="ngModel" [(ngModel)]="usuario.password" required="">
        <span class="text-danger" *ngIf="!contrasenia.valid && contrasenia.touched">
          <strong>debe ingresar una contraseña valida</strong>
        </span>
      </div>
      <hr class="mb-4">
      <button class="btn btn-warning btn-lg btn-block" type="submit" [disabled]="!registroForm.form.valid">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">modificar datos</font>
        </font>
      </button>
    </form>
  </div>
</div>
